<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite">
	<listeners>
		<listener class-name="com.sample.listeners.MyListener" />
	</listeners>

	<parameter name="appurl" value="https://expired.badssl.com/" />

	<test name="sample">
		<parameter name="userName" value="Admin" />
		<parameter name="Password" value="Admin123"></parameter>
		
		<classes>
			<class name="test.TestCase" />
		</classes>
	</test> <!-- Test -->


</suite> <!-- Suite -->